APP_PORT=3000
NODE_ENV=development

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=taskboard
POSTGRES_USER=taskboard_user
POSTGRES_PASSWORD=taskboard_pass

REDIS_HOST=redis
REDIS_PORT=6379

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
